# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.env
venv/
.venv/

# Android
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea/
android/captures/
android/.externalNativeBuild/
android/.cxx/

# General
.DS_Store
*.log
